@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Saira+Extra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
h1 {
    font-size: 250%;
}
body {
    font-family:'Saira Extra Condensed', sans-serif; 
    font-weight: 500;
}   
h1, h2 {
    font-family:'Roboto Condensed', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}
#logo {
    float: left;
    font-size: 250%;
    color: rgb(15, 119, 15);
}
#menu {
    font-size: 150%;
    letter-spacing: 1px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 150px;
}
#menu a {
    text-decoration: none;
}
#menu a:hover {
    border-bottom: 1px solid black;
}
.active {
    border-bottom: 1px solid black;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#hero-text h2 {
    color: rgb(15, 119, 15);
}
#hero-text, #hero-text p  {
    color:rgba(245, 245, 245, 0.952);
    font-family:'Saira Extra Condensed', sans-serif; 
    font-size: small;
    text-transform: none;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image5.jpg') center center;

    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}
#key-title {
    text-align: center;
    color: rgb(15, 119, 15);
}
#key-facts {
height: 400px;
}
#historical_timeline {
    text-align: center;
    color:rgb(15, 119, 15);
}
#left-facts {
    padding-top: 30px;
    width: 33%;
    float: left;
    color: #1843DE;
}
#left-facts h2 {
    color:rgb(15, 119, 15);
}
#right-facts {
    padding-top: 30px;
    width: 33%;
    float: right;
    color: #1843DE;
}
#right-facts h2 {
    color:rgb(15, 119, 15);
}
#center-facts {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}
#container {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
#circle-bg {
    background: url(../images/facts-center-image.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 5px;
}
.left-facts-head {
   width:60%;
   float:right;
   line-height: 20px; 
   clear:both;
   margin-bottom: 50px;
}
.right-facts-head {
    width:60%;
    float:left;
    line-height: 20px; 
    clear:both;
    margin-bottom: 50px;
 }
 @keyframes hero-zoom {
     from{
         transform: scale(1);
     }
     to{
         transform: scale(1.2);
     }
 }
 #hero-text {
     font-size: 130%;
     font-family: 'Roboto Condensed', sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;

     width: 300px;
     height: 250px;

     padding-top: 10px;
     padding-left: 10px;

     background-color: lightblue;

     bottom: 30px;
     right: 150px;

     position: absolute;
 }
 #timeline {
     background-image: url(../images/timeline-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     overflow: hidden;
 }
 #timeline h2 {
     color:rgba(245, 245, 245, 0.952);
 }
 #timeline div {
     color: rgba(245, 245, 245, 0.952);
     width: 12.5%;
     height: 300px;
     float: left;
     padding: 30px 0 0 10px;
     text-align: center;
     border: 2px solid white;
     box-sizing: border-box;
 }
 footer {
     height: 150px;
 }
 .social {
     text-align: center;
 }
 .social > li {
     display: inline;
 }
 .social i {
     font-size: 160%;
     margin: 1%;
     padding: 5%;
     color: #1843DE;
 }
 #photo {
     clear: both;
     line-height: 0;
     column-count: 4;
     column-gap: 0;
 }
 #photo > img {
     width: 100%;
     
 }
 .form-section {
    clear: left;
    background: url(../images/background_form.jpeg);
    background-size: cover;
    background-position: center;
    height: 900px;
 }
 .signup-form {
     margin: 150px 10% 0 0;
     color: #1843DE;
     background-color:rgba(245, 245, 245, 0.952);
     width: 500px;
     float: right;
     position: relative;
     padding: 10px;
 }
 .signup-form h1 {
     color:rgb(15, 119, 15);
 }
 .questions {
     color:rgb(15, 119, 15)
 }
 .quiz {
     color: black;
 }
 input[type=submit], input[type=reset] {
     border: 3px solid #1843DE;
 }

 @media screen and (max-width: 1200px){
     #key-facts {
         width:65%;
         height:800px;
         margin: 0 auto;
     }
     #key-title {
         padding: 30px 0;
         margin-top: 0;
     }
     #right-facts, #left-facts {
         width: 100%;
         float: left;
         padding: 0;
     }
     #center-facts {
         clear:both;
         width:100%;
         float:left;
         padding:0;
     }
     #timeline > div {
         width:100%;
         clear:both;
         height: 150px;
         padding: 0;
         color: black;
     }
     #timeline div h2 {
         color:black;
     }
    }
    @media screen and (max-width: 950px){
        #menu {
            clear:left;
            float:left;
            margin-left: 30px;
            margin-bottom: 20px;
        }
        #hero-text {
            left: 0;
        }
        #key-facts {
            width: 90%;
            height: 800px;
            margin: 0 auto;
        }
        .left-facts-head, .right-facts-head {
            width:inherit;
        }
        .left-facts-head h2, .right-facts-head h2{
            width:100%;
            text-align: center;
        }
        .left-facts-head h3, .right-facts-head h3 {
            text-align: center;
            padding: 0 20px;
        }
    #photo {
        column-count: 3;
    }
    .signup-form {
        left: 0;
        width:auto;
        margin:0 auto;
        padding:10px;
    }
    }
    @media screen and (max-width: 800px){
        #photo {
            column-count: 2;
        }
    @media screen and (max-width: 550px){
        #menu {
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
        }
    }
        
    }

