@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Saira+Extra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
h1 {
    font-size: 250%;
}
body {
    font-family:'Saira Extra Condensed', sans-serif; 
    font-weight: 500;
}   
h1, h2 {
    font-family:'Roboto Condensed', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}
#logo {
    float: left;
    font-size: 250%;
}
#menu {
    font-size: 150%;
    letter-spacing: 1px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 150px;
}
#menu a {
    text-decoration: none;
}
#menu a:hover {
    border-bottom: 1px solid black;
}
.active {
    border-bottom: 1px solid black;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#hero-text, #hero-text p  {
    color: white;
    font-family:'Saira Extra Condensed', sans-serif; 
    font-size: small;
    text-transform: none;

}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image5.jpg') center center;

    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}
#key-title {
    text-align: center;
}
#key-facts {
height: 600px;
}
#left-facts {
    padding-top: 30px;
    width: 33%;
    float: left;
}
#right-facts {
    padding-top: 30px;
    width: 33%;
    float: right;
}
#center-facts {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}
#container {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
#circle-bg {
    background: url(../images/facts-center-image.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 5px;
}
.left-facts-head {
   width:60%;
   float:right;
   line-height: 20px; 
   clear:both;
   margin-bottom: 50px;
}
.right-facts-head {
    width:60%;
    float:left;
    line-height: 20px; 
    clear:both;
    margin-bottom: 50px;
 }
 @keyframes hero-zoom {
     from{
         transform: scale(1);
     }
     to{
         transform: scale(1.2);
     }
 }
 #hero-text {
     font-size: 130%;
     font-family: 'Roboto Condensed', sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;

     width: 300px;
     height: 250px;

     padding-top: 10px;
     padding-left: 10px;

     background-color: lightblue;

     bottom: 30px;
     right: 150px;

     position: absolute;
 }
 #timeline {
     background-image: url(../images/timeline-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     overflow: hidden;
 }
 #timeline div {
     color: white;
     width: 12.5%;
     height: 300px;
     float: left;
     padding: 30px 0 0 10px;
     text-align: center;
     border: 2px solid white;
     box-sizing: border-box;
 }
 footer {
     height: 150px;
 }
 .social {
     text-align: center;
 }
 .social > li {
     display: inline;
 }
 .social i {
     font-size: 160%;
     margin: 1%;
     padding: 5%;
     color: black;
 }

